* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
  text-align: center;
}

header {
  background-color: #000;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.left {
  float: left;
}

.right {
  float: right;
}

header img {
  margin-right: 5px;
  vertical-align: middle;
}

header>div>a {
  text-decoration: none;
  color: #fff;
}

.btn-tel {
  margin-left: 12px;
}

.btn-header, .btn-slider {
  margin-left: 32px;
  height: 40px;
  width: 135px;
  line-height: 2.5;
  color: #000;
  text-shadow: 1px 1px 1px #fff;
  background-color: #a2d94a;
  border-bottom: 3px solid #59711b;
  border-radius: 5px;
}

.btn-header:hover {
  border-bottom: 3px solid #fcbe15;
}

.btn-header:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.navigation {
  width: 100%;
  height: 100px;
  margin: 10px 0;
}

nav {
  height: 100px;
  line-height: 100px;
}

nav>a {
  margin: 0 15px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

nav>a:active, nav>a:hover {
  border-bottom: 12px solid #fcbe15;
  padding-bottom: 40px;
}

.slider {
  height: 620px;
  width: 100%;
  margin: auto;
  background-image: url(../images/bg-slider.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-heading, .slider-text {
  color: #fff;
}

.green-box {
  height: 85px;
  width: 29%;
  background-color: #a2d84c;
}

.slider-heading {
  width: 30%;
  font-size: 70px;
  font-weight: 700;
  margin: 0;
  display: inline;
}

.slider-text {
  font-size: medium;
  width: 50%;
  margin: 0 auto;
}

.btn-slider {
  width: 230px;
  height: 60px;
  background-color: #febd19;
  border-radius: 10px;
  border-bottom: 5px solid #ff8221;
  margin: 50px auto 80px auto;
}

.btn-slider:hover {
  border-bottom: 3px solid #59711b;
}

.btn-slider:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

button {
  outline: 0;
}

.dot, .dot-white, .dot-orange {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  display: inline-block;
}

.dot-white {
  background-color: #fff;
}

.dot {
  background-color: rgba(255, 255, 255, .5);
}

.text-color-black {
  color: #000;
}

.text-color-white {
  color: #fff;
}

.text-color-green {
  color: #59711b;
}

.advantages, .about {
  width: 100%;
  height: 590px;
  background-color: #fff;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-top: 55px;
}

h2 {
  font-size: large;
  margin-bottom: 15px;
}

.advantages>p {
  margin-top: 30px;
}

.advantage {
  width: 20%;
  float: left;
  margin-top: 55px;
}

.advantage>img {
  height: 200px;
  width: 200px;
  margin-bottom: 25px;
}

.about {
  width: 100%;
  height: 590px;
  background-image: url(../images/bg-about-us.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
}

.about div {
  width: 40%;
  padding: 3rem;
}

.about p {
  text-align: left;
}

.about>img {
  width: 400px;
  height: 100%;
}

.btn-about {
  width: 230px;
  height: 60px;
  background-color: #febd19;
  border-radius: 10px;
  border-bottom: 5px solid #ff8221;
  margin-top: 1rem;
  float: left;
}

.btn-about:hover {
  border-bottom: 3px solid #59711b;
}

.btn-about:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.services {
  width: 100%;
  height: 560px;
  background-color: white;
  padding-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.services>p {
  margin: 1rem;
}

.service {
  width: 100%;
  height: 25rem;
  margin-top: 5rem;
}

.service div {
  display: inline-block;
  width: 17%;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: .5rem;
  padding: 1rem;
  margin: 1rem;
}

.service img {
  width: 5rem;
  height: auto;
  margin-top: -3.5rem;
}

.service h2 {
  margin-top: 2rem;
}

.service p {
  margin-bottom: 3rem;
}

.service a {
  color: #a2d84c;
}

.portfolio {
  width: 100%;
  height: 55rem;
  padding-top: 3rem;
  background-color: #212121;
  color: white;
}

.portfolio p {
  margin: 2rem 0;
}

.portfolio a {
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 1rem;
}

.text-color-orange {
  color: #fd8221 !important;
  font-weight: bold;
}

.logos {
  width: 100%;
  margin: 1rem auto;
}

.logos img {
  display: inline-block;
  width: 17%;
  height: auto;
  margin: -7px;
}

.arrow {
  display: block;
  width: 100%;
  height: 3rem;
  padding-top: 1rem;
}

.process {
  display: flex;
  align-items: center;
  justify-content: center;
}

.process div {
  display: inline-block;
  width: 10%;
  height: 200px;
  padding: 1rem;
  margin-bottom: 10rem;
}

.process h2, .process p, .process img {
  margin-top: 1.5rem;
}

.process img {
  width: 100%;
  height: auto;
}

.peopleaboutus {
  width: 100%;
  height: 52rem;
  padding-top: 5px;
  background-color: #f2f2f2;
  background-image: url(../images/people-about-us-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.peopleaboutus>p {
  margin-top: 1%;
  margin-bottom: 3%;
}

.people {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
}

.johndoe h2, .johndoe p {
  text-align: left;
}

.johndoe {
  width: 40%;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
}

.johndoe img {
  width: 20%;
  height: auto;
  margin-right: 1rem;
  float: left;
}

hr {
  width: 100%;
  position: relative;
  border: 0;
  height: 4px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
}

.vl {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
  /* border-left: 6px solid gray; */
  height: 200%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0;
  width: 4px;
}

.dot-orange {
  background-color: #ff831d;
}

.peopleaboutus .dot {
  background-color: rgba(255, 131, 29, .5) !important;
}